In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

In [2]:
import folium
from folium.plugins import MarkerCluster
import json
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import numpy as np
import requests
from folium.plugins import MiniMap
from geopy.distance import geodesic

In [3]:
roadkill_2019 = pd.read_csv(r'G:\내 드라이브\공모전1\데이터\로드킬\한국도로공사_로드킬 데이터 정보_2019.csv', encoding = 'cp949')
roadkill_2020 = pd.read_csv(r'G:\내 드라이브\공모전1\데이터\로드킬\한국도로공사_로드킬 데이터 정보_2020.csv', encoding = 'cp949')
roadkill_2021 = pd.read_csv(r'G:\내 드라이브\공모전1\데이터\로드킬\한국도로공사_로드킬 데이터 정보_2021.csv', encoding = 'cp949')
roadkill_2022 = pd.read_csv(r'G:\내 드라이브\공모전1\데이터\로드킬\한국도로공사_로드킬 데이터 정보_2022.csv', encoding = 'cp949')
roadkill_df = pd.read_csv(r'G:\내 드라이브\공모전1\전처리\한국도로공사_로드킬 데이터 정보_2022~2019 .csv', encoding = 'cp949')

In [4]:
route = pd.read_csv(r'G:\내 드라이브\공모전1\전처리\생태통로_pre.csv')
fence = pd.read_csv(r'G:\내 드라이브\공모전1\데이터\유도울타리.csv', encoding = 'cp949')
animal = pd.read_csv(r'G:\내 드라이브\공모전1\데이터\국내 포유류 서식 분포_pre.csv', encoding = 'cp949')

In [5]:
# 필요없는 컬럼 드랍
columns_to_drop = ['wkt_geom', 'SPCE_ID', 'EXAMIN_REA', 'SPCS_SCNCE', 'EXAMIN_YEA', 'EXAMIN_BEG', 'EXAMIN_END']
animal_df = animal.drop(columns=columns_to_drop, axis=1)

# 'longitude'와 'latitude'가 무한대인 행 제거
animal_df = animal_df[~animal_df['longitude'].isin([np.inf, -np.inf])]
animal_df = animal_df[~animal_df['latitude'].isin([np.inf, -np.inf])]

# latitude, longitude 컬럼명을 한국어로 변경
animal_df = animal_df.rename(columns={'latitude': '위도', 'longitude': '경도'})

# 삭제하고자 하는 값들 / 조류, 설치류 제거
values_to_remove = ['큰수염박쥐', '북방애기박쥐', '비단털쥐', '관코박쥐', '제주땃쥐', '우수리땃쥐', 
                    '집박쥐', '양박쥐', '갈밭쥐', '등줄쥐', '멧밭쥐', '우수리박쥐', '큰집박쥐', 
                    '쇠윗수염박쥐', '큰발윗수염박쥐', '집쥐', '흰넓적다리붉은쥐', '작은땃쥐', '뒤쥐', 
                    '생쥐', '관박쥐', '안주애기박쥐', '대륙밭쥐', '문둥이박쥐', '흰배윗수염박쥐', 
                    '대륙쇠큰수염박쥐', '돌고래', '다람쥐', '청설모', '고슴도치', '뉴트리아']

# 'SPCS_LCNM'이 삭제하고자 하는 값들을 포함하지 않는 행 선택
animal_df = animal_df[~animal_df['SPCS_LCNM'].isin(values_to_remove)]

In [6]:
# 필요없는 컬럼 드랍
columns_to_drop2 = ['번호', '생태통로명', '주소', '차선_수', '관리기관', '생태통로유형', '설치기관']
route_df = route.drop(columns=columns_to_drop2, axis=1)

In [7]:
# roadkill_df를 result_df에 복사합니다.
result_df = roadkill_df.copy()

In [8]:
# result_df에 울타리 평균 길이와 울타리 평균 높이를 저장할 열 추가
result_df['울타리 평균 길이'] = 0
result_df['울타리 평균 높이'] = 0

# 각 5KM 데이터에 대해 fence에서 범위에 해당하는 row를 찾고 연장과 높이의 평균을 계산하여 result_df에 저장
for index, row in result_df.iterrows():
    start_point = row[' 5km ']
    end_point = row[' 5km ']
    
    # 설치시점과 설치종점 범위 내의 데이터 추출
    relevant_fences = fence[(fence['설치시점'] <= start_point) & (fence['설치종점'] >= end_point)]
    
    # 연장과 높이의 평균 계산
    avg_extension = relevant_fences['연장'].mean()
    avg_height = relevant_fences['높이'].mean()
    
    # 결과 데이터프레임에 저장
    result_df.at[index, '울타리 평균 길이'] = avg_extension
    result_df.at[index, '울타리 평균 높이'] = avg_height

In [9]:
#동물	생활 활동 반경 (국내)
#고라니	약 1~10 km²
#두더지	약 수 미터에서 수십 미터
#멧돼지	약 5~20 km²
#너구리	약 0.5~5 km²
#오소리	약 2~10 km²
#노루      약 1~10 km²
#말사슴      약 1~10 km²
#족제비	약 0.5~5 km²
#멧토끼	약 0.1~0.5 km²

In [10]:
# 동물들의 활동 반경 딕셔너리로 정의
activity_range = {
    '고라니': 5,
    '멧돼지': 10,
    '족제비': 2.5,
    '두더지': 0.25,
    '오소리': 5,
    '너구리': 2.5,
    '노루': 5,
    '말사슴': 5,
    '멧토끼': 0.25
}

# 각 동물의 평균 활동 반경 계산
mean_activity_range = animal_df['SPCS_LCNM'].apply(lambda x: activity_range[x]).mean()

In [11]:
mean_activity_range

4.461890243902439

In [12]:
def count_eco_trails_within_radius(lat, lon, eco_trails_df, radius_km=5):
    
    #반경 내 생태통로 수를 계산
    
    count = 0
    for idx, trail in eco_trails_df.iterrows():
        trail_location = (trail['위도'], trail['경도'])
        distance = geodesic((lat, lon), trail_location).kilometers
        if distance <= radius_km:
            count += 1
    return count

# result_df에 '반경 생태통로 수'라는 새로운 열을 만들고 값을 계산하여 채웁니다.
result_df['반경 생태통로 수'] = result_df.apply(
    lambda row: count_eco_trails_within_radius(row['위도'], row['경도'], route, radius_km = mean_activity_range),
    axis=1
)

In [13]:
result_df.head()

,본부명,지사명,노선명,구간,방 향,5km,발생건수,위도,경도,발생년도,울타리 평균 길이,울타리 평균 높이,반경 생태통로 수
0,강원,홍천,중앙선,315~320,부산,315,13,37.340987,127.912591,2022,351.900000,1.450000,0
1,강원,홍천,중앙선,315~320,춘천,315,7,37.340987,127.912591,2022,351.900000,1.450000,0
2,강원,홍천,중앙선,385~390,춘천,385,6,37.838769,127.777996,2022,279.000000,1.625000,2
3,강원,강릉,동해선,65~70,속초,65,4,37.802916,128.823887,2022,284.420455,1.715909,0
4,강원,대관령,영동선,230~235,인천,230,4,37.754931,128.796506,2022,277.187500,1.562500,2

In [14]:
# 반경 내 동물 개체수 계산하여 '반경 동물 개체 수' 컬럼 추가
result_df['반경 동물 개체 수'] = 0  # 초기화

for index, row in result_df.iterrows():
    count_within_radius = 0
    h_r, v_r = row['위도'], row['경도']  # 도로 사고 위치

    for index_a, row_a in animal_df.iterrows():
        h_a, v_a, animal_name = row_a['위도'], row_a['경도'], row_a['SPCS_LCNM']
        distance = geodesic((h_r, v_r), (h_a, v_a)).kilometers
        radius = activity_range.get(animal_name, 10)  # 동물별 활동 반경
        if distance <= radius:
            count_within_radius += 1

    result_df.at[index, '반경 동물 개체 수'] = count_within_radius

In [21]:
result_df.head()

,본부명,지사명,노선명,구간,방 향,5km,발생건수,위도,경도,발생년도,울타리 평균 길이,울타리 평균 높이,반경 생태통로 수,반경 동물 개체 수,노선 평균 제한 속도
0,강원,홍천,중앙선,315~320,부산,315,13,37.340987,127.912591,2022,351.900000,1.450000,0,30,98.571429
1,강원,홍천,중앙선,315~320,춘천,315,7,37.340987,127.912591,2022,351.900000,1.450000,0,30,98.571429
2,강원,홍천,중앙선,385~390,춘천,385,6,37.838769,127.777996,2022,279.000000,1.625000,2,34,98.571429
3,강원,강릉,동해선,65~70,속초,65,4,37.802916,128.823887,2022,284.420455,1.715909,0,24,100.000000
4,강원,대관령,영동선,230~235,인천,230,4,37.754931,128.796506,2022,277.187500,1.562500,2,27,96.666667

In [16]:
speed = pd.read_csv(r'G:\내 드라이브\공모전1\데이터\한국도로공사_고속도로 구간별 제한속도_20230630.csv', encoding = 'cp949')

In [17]:
# '평균 제한속도' 컬럼에 평균값 저장
speed['평균 제한속도'] = (speed['기점 방향 제한속도(kph)'] + speed['종점 방향 제한속도(kph)']) / 2

# 노선명을 기준으로 그룹화하고 평균 제한속도를 계산하여 새로운 컬럼에 저장
speed['노선 평균 제한 속도'] = speed.groupby('노선명')['평균 제한속도'].transform('mean')

# 필요없는 컬럼 드랍
columns_to_drop3 = ['시점부', '종점부','구간길이', '기점 방향 제한속도(kph)', '종점 방향 제한속도(kph)', '평균 제한속도']
speed_df = speed.drop(columns=columns_to_drop3, axis=1)

# 노선명 컬럼의 중복 제거
speed_df.drop_duplicates(subset=['노선명'], keep='first', inplace=True)

speed_df = speed_df.rename(columns={'노선명': ' 노선명 '})

In [18]:
mean_speed = speed_df['노선 평균 제한 속도'].mean()

# '노선명'을 기준으로 데이터프레임을 병합 (left join)
result_df = pd.merge(result_df, speed_df, on=' 노선명 ', how='left')

# '노선 평균 제한 속도' 컬럼에서 NaN 값을 가진 행 추출
nan_rows = result_df[result_df['노선 평균 제한 속도'].isnull()]

# '노선 평균 제한 속도' 컬럼의 NaN 값을 평균값 보간
result_df['노선 평균 제한 속도'].fillna(mean_speed, inplace=True)

In [26]:
# '동물 개체수' 컬럼에 대해 모든 값에 50 곱하기
result_df['반경 동물 개체 수'] = result_df['반경 동물 개체 수'] * 50

In [27]:
result_df.head()

,본부명,지사명,노선명,구간,방 향,5km,발생건수,위도,경도,발생년도,울타리 평균 길이,울타리 평균 높이,반경 생태통로 수,반경 동물 개체 수,노선 평균 제한 속도
0,강원,홍천,중앙선,315~320,부산,315,13,37.340987,127.912591,2022,351.900000,1.450000,0,1500,98.571429
1,강원,홍천,중앙선,315~320,춘천,315,7,37.340987,127.912591,2022,351.900000,1.450000,0,1500,98.571429
2,강원,홍천,중앙선,385~390,춘천,385,6,37.838769,127.777996,2022,279.000000,1.625000,2,1700,98.571429
3,강원,강릉,동해선,65~70,속초,65,4,37.802916,128.823887,2022,284.420455,1.715909,0,1200,100.000000
4,강원,대관령,영동선,230~235,인천,230,4,37.754931,128.796506,2022,277.187500,1.562500,2,1350,96.666667

In [28]:
selected_columns = [' 발생건수 ', '울타리 평균 길이', '울타리 평균 높이', '반경 생태통로 수','반경 동물 개체 수', '노선 평균 제한 속도']

correlation = result_df[selected_columns].corr()

In [29]:
correlation

,발생건수,울타리 평균 길이,울타리 평균 높이,반경 생태통로 수,반경 동물 개체 수,노선 평균 제한 속도
발생건수,1.000000,0.115657,-0.034340,-0.041434,0.093676,-0.032559
울타리 평균 길이,0.115657,1.000000,-0.347811,-0.042987,-0.112713,0.046208
울타리 평균 높이,-0.034340,-0.347811,1.000000,0.133426,-0.006197,-0.130220
반경 생태통로 수,-0.041434,-0.042987,0.133426,1.000000,-0.130972,0.007424
반경 동물 개체 수,0.093676,-0.112713,-0.006197,-0.130972,1.000000,-0.140617
노선 평균 제한 속도,-0.032559,0.046208,-0.130220,0.007424,-0.140617,1.000000

In [30]:
result_df[' 노선명 '].unique()

array(['중앙선', '동해선', '영동선', '무안광주선', '호남선', '서해안선', '광주대구선', '남해선',
       '당진대전선', '경부선', '서천공주선', '대전남부순환선', '호남지선', '중부선', '수도권제1순환선',
       '제2경인선', '순천완주선', '익산장수선', '청주상주선', '평택제천선', '제2중부선', '서울양양선',
       '중부내륙선', '당진영덕선', '남해제1지선', '대구포항선', '서울외곽순환선'], dtype=object)

In [31]:
# CSV 파일로 저장 (인코딩: cp949)
result_df.to_csv('result.csv', index=False, encoding='cp949')