In [2]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

In [12]:
import folium
from folium.plugins import MarkerCluster
import json
import pandas as pd
import numpy as np

In [3]:
route = pd.read_csv(r'C:\Users\CHOI\공모전\데이터\생태통로_pre.csv')
fence = pd.read_csv(r'C:\Users\CHOI\공모전\데이터\유도울타리.csv', encoding = 'cp949')
roadkill_df = pd.read_csv(r'C:\Users\CHOI\공모전\데이터\한국도로공사_로드킬 데이터 정보_2022~2019 .csv', encoding = 'cp949')
animal = pd.read_csv(r'C:\Users\CHOI\공모전\데이터\국내 포유류 서식 분포_pre.csv', encoding = 'cp949')
highway_df = pd.read_csv(r'C:\Users\CHOI\공모전\데이터\도로정보.csv', encoding = 'cp949')
geongi_df = pd.read_csv(r'C:\Users\CHOI\공모전\데이터\경기충청_roadkill.csv')

In [4]:
route.head(1)

,번호,생태통로명,주소,차선_수,관리기관,생태통로유형,설치기관,위도,경도
0,1001,중동터널,서울특별시 구로구 궁동,왕복6차로,서울특별시 구로구,육교형,서울특별시,37.506492,126.830989

In [5]:
fence.head(1)

      본부    지사     노선  설치시점  설치종점  방향  연장  높이  설치년도
0  수도권본부  경기광주  제2중부선   353   353  부산  30   2  2011

In [6]:
roadkill_df.head(1)

   본부명   지사명   노선명       구간   방 향    5km    발생건수          위도          경도  발생년도
0    강원    홍천   중앙선  315~320    부산    315      13  37.340987  127.912591  2022

In [7]:
animal.head(1)

,wkt_geom,SPCE_ID,EXAMIN_REA,SPCS_LCNM,SPCS_SCNCE,EXAMIN_YEA,EXAMIN_BEG,EXAMIN_END,longitude,latitude
0,215407.71410000044852495 406578.46749999932944775,9000000000553120,포유류,고라니,Hydropotes inermis,2017,2017-09-16,2017-09-16,127.171444,36.257028

In [8]:
highway_df.head(1)

,노선번호,지점번호,도명,시/군,읍/면,동/리,구간,이정(km),연장(km),차로수,시간,계,승용차,버스,소형화물,중형화물,대형화물
0,함양울산선,1411,경남,밀양,단장,단장,밀양IC-배내골IC,0~20.5,20.5,4,NaN,"9,147","6,594",60,"1,346",948,199

In [9]:
geongi_df.head(1)

,Unnamed: 0,본부명,지사명,노선명,구간,방 향,5km,발생건수,위도,경도,발생년도,geometry,index_right,SIG_CD,SIG_ENG_NM,SIG_KOR_NM
0,16,강원,원주,영동선,100~105,인천,100,3,37.249148,127.714622,2022,POINT (127.7146223 37.24914838),33,41670,Yeoju-si,���ֽ�

In [10]:
print(len(roadkill_df))
print(len(geongi_df))

484
331

In [13]:
# 필요없는 컬럼 드랍
columns_to_drop = ['wkt_geom', 'SPCE_ID', 'EXAMIN_REA', 'SPCS_SCNCE', 'EXAMIN_YEA', 'EXAMIN_BEG', 'EXAMIN_END']
animal_df = animal.drop(columns=columns_to_drop, axis=1)

# 'longitude'와 'latitude'가 무한대인 행 제거
animal_df = animal_df[~animal_df['longitude'].isin([np.inf, -np.inf])]
animal_df = animal_df[~animal_df['latitude'].isin([np.inf, -np.inf])]

# latitude, longitude 컬럼명을 한국어로 변경
animal_df = animal_df.rename(columns={'latitude': '위도', 'longitude': '경도'})

# 삭제하고자 하는 값들 / 조류, 설치류 제거
values_to_remove = ['큰수염박쥐', '북방애기박쥐', '비단털쥐', '관코박쥐', '제주땃쥐', '우수리땃쥐', 
                    '집박쥐', '양박쥐', '갈밭쥐', '등줄쥐', '멧밭쥐', '우수리박쥐', '큰집박쥐', 
                    '쇠윗수염박쥐', '큰발윗수염박쥐', '집쥐', '흰넓적다리붉은쥐', '작은땃쥐', '뒤쥐', 
                    '생쥐', '관박쥐', '안주애기박쥐', '대륙밭쥐', '문둥이박쥐', '흰배윗수염박쥐', 
                    '대륙쇠큰수염박쥐', '돌고래', '다람쥐', '청설모', '고슴도치', '뉴트리아']

# 'SPCS_LCNM'이 삭제하고자 하는 값들을 포함하지 않는 행 선택
animal_df = animal_df[~animal_df['SPCS_LCNM'].isin(values_to_remove)]

In [14]:
# 필요없는 컬럼 드랍
columns_to_drop2 = ['번호', '생태통로명', '주소', '차선_수', '관리기관', '생태통로유형', '설치기관']
route_df = route.drop(columns=columns_to_drop2, axis=1)

In [15]:
# roadkill_df를 result_df에 복사합니다.
result_df = roadkill_df.copy()

In [16]:
# result_df에 울타리 평균 길이와 울타리 평균 높이를 저장할 열 추가
result_df['울타리 평균 길이'] = 0
result_df['울타리 평균 높이'] = 0

# 각 5KM 데이터에 대해 fence에서 범위에 해당하는 row를 찾고 연장과 높이의 평균을 계산하여 result_df에 저장
for index, row in result_df.iterrows():
    start_point = row[' 5km ']
    end_point = row[' 5km ']
    
    # 설치시점과 설치종점 범위 내의 데이터 추출
    relevant_fences = fence[(fence['설치시점'] <= start_point) & (fence['설치종점'] >= end_point)]
    
    # 연장과 높이의 평균 계산
    avg_extension = relevant_fences['연장'].mean()
    avg_height = relevant_fences['높이'].mean()
    
    # 결과 데이터프레임에 저장
    result_df.at[index, '울타리 평균 길이'] = avg_extension
    result_df.at[index, '울타리 평균 높이'] = avg_height